{:lint-as {lazytest.core/defdescribe clojure.core/def
           lazytest.core/given clojure.core/let
           lazytest.core/around clojure.core/fn
           lazytest.clojure.test/are clojure.test/are
           lazytest.clojure.test/deftest clojure.test/deftest
           lazytest.clojure.test/is clojure.test/is
           lazytest.clojure.test/testing clojure.test/testing}}
