{:paths ["src/clojure" "resources" "target/classes"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/tools.cli {:mvn/version "1.1.230"}
        org.clojure/tools.namespace {:mvn/version "1.5.0"}
        metosin/malli {:mvn/version "0.16.1"}}
 :deps/prep-lib {:ensure "target/classes"
                 :alias :prep
                 :fn javac}
 :aliases
 {;; Development tools
  :dev {:extra-paths ["dev"]
        :extra-deps {org.clojure/spec.alpha {:mvn/version "0.5.238"}
                     criterium/criterium {:mvn/version "0.4.6"}
                     com.clojure-goes-fast/clj-java-decompiler {:mvn/version "0.3.4"}}}

  ;; I like nrepl and rebel-readline.
  :repl {:extra-deps {nrepl/nrepl {:mvn/version "1.0.0"}
                      com.bhauman/rebel-readline {:mvn/version "0.1.4"}}
         :main-opts  ["-m" "nrepl.cmdline"
                      "--interactive"
                      "-f" "rebel-readline.main/-main"]}

  ;; Run the tests with `-M:test:runner`.
  :test {:extra-paths ["test/clojure"]}
  :runner {:main-opts ["-m" "lazytest.main"]}

  ;; Build a jar or uberjar with `-M:build jar/uberjar`
  :build {:deps {io.github.noahtheduke/clein {:mvn/version "0.1.2"}}
          :main-opts ["-m" "noahtheduke.clein"]}
  :clein/build
  {:lib io.github.noahtheduke/lazytest
   :url "https://github.com/noahtheduke/lazytest"
   :version "./resources/LAZYTEST_VERSION"
   :src-paths ["src/clojure" "resources"]
   :license {:name "EPL-1.0"
             :url "https://www.eclipse.org/legal/epl-v10.html"}}

  ;; Compile the ExpectationFailed class with `-T:prep javac`
  :prep {:deps {io.github.clojure/tools.build {:mvn/version "0.10.3"}}
         :ns-default prep}}}
