{:paths ["src/clojure" "resources" "target/classes"]
 :deps {org.clojure/clojure {:mvn/version "1.11.4"}
        org.clojure/tools.cli {:mvn/version "1.1.230"}
        org.clojure/tools.namespace {:mvn/version "1.5.0"}
        io.github.tonsky/clj-reload {:mvn/version "0.7.0"}
        dev.weavejester/medley {:mvn/version "1.8.1"}
        cond-plus/cond-plus {:mvn/version "1.1.1"}
        rewrite-clj/rewrite-clj {:mvn/version "1.1.48"}}
 :deps/prep-lib {:ensure "target/classes"
                 :alias :prep
                 :fn javac}
 :aliases
 {:run {:main-opts ["-m" "lazytest.main"]}
  :provided {:extra-deps {nubank/matcher-combinators {:mvn/version "3.9.1"}}}
  ;; Development tools
  :dev {:extra-paths ["dev" "corpus" "docs"]
        :extra-deps {org.clojure/spec.alpha {:mvn/version "0.5.238"}
                     criterium/criterium {:mvn/version "0.4.6"}
                     com.clojure-goes-fast/clj-java-decompiler {:mvn/version "0.3.6"}
                     com.github.seancorfield/honeysql {:mvn/version "2.6.1196"}
                     org.clojure/tools.gitlibs {:mvn/version "2.5.197"}}}

  ;; I like nrepl and rebel-readline.
  :repl {:extra-deps {nrepl/nrepl {:mvn/version "1.2.0"}
                      cider/cider-nrepl {:mvn/version "0.50.2"}
                      com.bhauman/rebel-readline {:mvn/version "0.1.4"}}
         :main-opts  ["-m" "nrepl.cmdline"
                      "--middleware" "[cider.nrepl/cider-middleware]"
                      "--interactive"
                      "-f" "rebel-readline.main/-main"]}

  ;; Run the tests with `-M:provided:dev:test:run`.
  :test {:extra-paths ["test/clojure"]}

  :splint {:extra-deps {io.github.noahtheduke/splint {:mvn/version "1.19.0"}}
           :main-opts ["-m" "noahtheduke.splint"]}

  :ci {:main-opts ["-m" "lazytest.main"
                   "--doctests"
                   "--md" "README.md"
                   "test" "docs"]}

  :examples {:extra-paths ["."]}

  ;; Build a jar or uberjar with `-M:clein jar/uberjar`
  :clein {:deps {io.github.noahtheduke/clein {:mvn/version "0.3.1"}}
          :main-opts ["-m" "noahtheduke.clein"]}
  :clein/build
  {:lib io.github.noahtheduke/lazytest
   :main lazytest.main
   :url "https://github.com/noahtheduke/lazytest"
   :version "./resources/LAZYTEST_VERSION"
   :license {:name "EPL-1.0"
             :url "https://www.eclipse.org/legal/epl-v10.html"}
   :src-dirs ["src/clojure"]
   :resource-dirs ["resources"]
   :java-src-dirs ["src/java"]
   :javac-opts ["--release" "11"]}

  ;; Update dependencies
  :antq {:deps {com.github.liquidz/antq {:mvn/version "2.8.1206"}}
         :main-opts ["-m" "antq.core"]}

  ;; Compile the ExpectationFailed class with `-T:prep javac`
  :prep {:deps {io.github.clojure/tools.build {:mvn/version "0.10.5"}}
         :ns-default prep}}}
